
body { background-image: url("https://static.pexels.com/photos/296884/pexels-photo-296884.jpeg")}

/*body {
  color: black;
  font-size: 100px;
}*/

body{
  padding: 60px 150px;
  color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#picture {
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 50px;
    height: 500px;
    width: 500px;
}
/*################ Upper ####################*/
.about_me{
    position: relative;
}

.text1 {
    position: absolute;
    top: 220px;
    right: 90px;
    width: 50%;
    color: black;
    background-color:transparent;
    padding: 15px;
    font-size: 10px;
    line-height: 130%;
    font-family: fantasy;
}

.skills{
    position: relative;
}

.text2 {
    position: absolute;
    top: 100px;
    right: 150px;
    width: 50%;
    color: black;
    background-color:transparent;
    padding: 15px;
    font-size: 10px;
    line-height: 130%;
    font-family: fantasy;
}

/*############### about me ###############*/
/*body { background-image: url("https://images.pexels.com/photos/158607/cairn-fog-mystical-background-158607.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")}*/
