body{
  height: 100%;
}


.flex-container {
  display: flex; /* or inline-flex */
}

.flex-container-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.return{
  height: 200px;
  width: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
